:root {
    --bg-color: #121212;
    --font-color: #e0e0e0;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
    margin: 6rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36pt;
    line-height: 0.1;
}

p, li {
    font-size: 16pt;
    text-align: justify;
    line-height: 1.5;
}

#imagenes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.equipo {
    width: 350px;
    transition-duration: 0.3s;
}

.equipo:hover {
    scale: 1.1;
}

.bloque-imagen {
    width: fit-content;
    text-align: center;
    margin: 10px;
}